
img, p, h1, h2, h3, h4{
   margin: 0;
     padding: 0;
     border: 0;
     vertical-align: baseline;
}

:root {
  --background: white;
;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background:  white;
 font-family: 'Montserrat', Arial, sans-serif;
  margin-left:10%;
  margin-right:10%;
}

header {
  background: var(--background);
  text-align: center;
  position: relative;
  top:0px;

  z-index: 999;
  width: 100%;
 
 
}

h1{
  font-family: "Montserrat", Arial, sans-serif;
 
  margin:0;
  padding:0;
 width:100%;

}

h2{
   font-family: "Roboto Condensed", Arial, sans-serif;
   font-size: 44px;
    font-weight:bold;
   margin:0;
  padding:0;
 width:100%;
}


h3{
   font-family: "Verdana", Helvetica, sans-serif;
  font-weight:normal;
   font-size: 30px;
   color:#67686d;
    margin:0;
      padding:0;
}

h4{
 font-size: 150%;
  font-weight:lighter;
    margin:0;
      padding:0;s
}

li,a {
    text-decoration: none;
  }

  p{
    line-height: 150%;
   
    font-weight:lighter;
    margin-bottom: 1%;
  }

   
  p a{
  color:black;
}

p a:hover{
text-decoration:none;
}

p a:focus{
  color:#000;
}

a{
   color:black;
}

a:hover{
text-decoration:none;

}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
 
}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(black, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}


.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;
 
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;

}

nav ul {
  margin-left: 0;
  padding: 0;
  list-style: none;

}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #043FF1;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 1024px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 1 / 3;
    width:30%;
    margin-top:0.5em;
    margin-bottom:0.5em;
    margin-left:0.5em;

  }
  
  nav {
    all: unset; 

    position: relative;
 
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
  
    grid-column: 3 / 4;
    display: flex;
 
    align-items: center;
  }
  
  nav ul {
    display: flex;

  }
  
  nav li {
    margin-left: 5em;
    margin-bottom: 0;
    font-size: 1px;
    margin-right:0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 7px;
    background:black;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

@media screen and (max-width: 1200px) {
.logo {
    grid-column: 1 / 3;
    max-width:50%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
}



@media screen and (max-width: 1024px) {
.logo {
    grid-column: 1 / 3;
    width:50%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
}



@media screen and (max-width: 1023px) {
.logo {
    grid-column: 1 / 3;
    width:10%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
}


@media screen and (max-width: 1000px) {
.logo {
    grid-column: 1 / 3;
    width:10%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
}

@media screen and (max-width: 769px) {
.logo {
    grid-column: 1 / 3;
    width:10%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
}

@media screen and (max-width: 479px) {
.logo {
    grid-column: 1 / 3;
    width:15%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}
}

.styleguide_h2{
  font-size:45%;
  font-weight:bold;
  margin-top:5%;

}

.styleguide_h3{
  font-size:40%;
    margin-top:1%;
  font-weight:bold;
}

.css-selector h4{
font-size:120%;
margin-top:1%;
}

.sample-code{
  font-size:80%;
  background-color: #eee;
  margin-top:1%;
}

#interactive_elements{
  width:100%;  
}

.bold{
  font-weight:bolder;
}

figure img.color{
  border:1px black solid;

}

.colorpalettes  {
  display:flex;
  flex-wrap: wrap;
  width:100%;
}

.colorpalettes p{
  font-size:16px;
}

div.color{
  flex-grow:1;
  flex-basis: 10em;
}

@media screen and (max-width:40em){
  .colorpalettes  {
    display:block;

  }
}



.home_h1{
 margin-left:10%;
 margin-bottom:20%;
 margin-top:15%;
 font-size: 64px;
 
}

@media screen and (max-width:1024px){
  .home_h1{
 margin-left:1%;
 margin-bottom:20%;
 margin-top:15%;
 font-size: 52px;
}
}

@media screen and (max-width:769px){
  .home_h1{
 margin-bottom:20%;
 margin-top:15%;
 font-size: 40px;
}
}

@media screen and (max-width:479px){
  .home_h1{
 margin-bottom:20%;
 margin-top:15%;
 font-size: 28px;
}
}

.home_project1{
  display:flex;
  width:auto;
  background-color: #f5f4f4;
 margin-left:10%;
  margin-right:12%;
   margin-bottom:10%;
}

 

.home_box1_left{
  margin-right:2%;
  width:50%;
 
}

#home_box1_id{
   padding-left:1%;
  }

.home_box1_right{
   width:50%;

}
.project_heading{
  margin-top:2%;
    margin-bottom:2%;
}



.view_button{
 background-color:transparent;
 font-family: "Ubuntu", Helvetica, sans-serif;
 font-size: 20px;
 border-color: transparent;
 padding:0;
  opacity: 0.6;
  font-weight: bold;
  
}

.view_button a:hover{
background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  text-decoration: none;

  }

#project1_button{
 margin-top:5%;
  margin-left:auto;
  margin-bottom: auto;
}

.brand-logo{
width:100%;
}

.poster_img{
  width:100%;
}

#project2_button{
  margin-top:5%;
}

.title_h1{
color:#67686d;
font-size: 16px;
}

@media screen and (max-width:1024px){
  .home_project1{
margin-left:0;
margin-right:0;
width:auto;
  }

  .title_h1{
    font-size: 16px;
  }
.project_heading{
  margin-top:2%;
  margin-bottom:2%;
  font-size: 52px;
}

.project-text{
  font-size: 16px;
  line-height: 2;
}

.view_button{
 background-color:transparent;
 font-family: "Ubuntu", Helvetica, sans-serif;
 opacity: 0.6;
 font-size: 24px;
 border-color: transparent;
}

.view_button a:hover{
background-color: black;
  border: none;
  color: white;
  text-align: center;
  display: inline-block;
  text-decoration: none;
  }

  #project1_button{
 margin-top:5%;
  margin-left:auto;
  margin-bottom: auto;
}

 #project2_button{
 margin-top:5%;
  margin-left:auto;
  margin-bottom: auto;
}

}

@media screen and (max-width:769px){
  .home_project1{
margin-left:0;
margin-right:0;
width:auto;
  }
  .title_h1{
    font-size: 13px;
  }
.project_heading{
  margin-top:2%;
  margin-bottom:2%;
  font-size: 42px;
}

.project-text{
  font-size: 16px;
  line-height: 1.2;
}

.view_button{
 background-color:transparent;
 font-family: "Ubuntu", Helvetica, sans-serif;
 opacity: 0.6;
 font-size: 14px;
 border-color: transparent;

}

.view_button a:hover{
background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  }

  #project1_button{
 margin-top:5%;
  margin-left:auto;
  margin-bottom: auto;
}

 #project2_button{
 margin-top:5%;
  margin-left:auto;
  margin-bottom: auto;
}
  }

  @media screen and (max-width:479px){
.home_project1{
  display:block;
  width:auto;
  background-color: #f5f4f4;
 margin-left:10%;
  margin-right:12%;
   margin-bottom:10%;
}

 
.home_box1_left{
  width:100%;
   padding:1%;
}

.home_box1_right{
   width:100%;
padding:1%;
}

.home_project1{
margin-left:0;
margin-right:0;
width:auto;
}

  .title_h1{
    font-size: 11px;
  }
.project_heading{
  margin-top:2%;
  margin-bottom:2%;
  font-size: 24px;
}

.project-text{
  font-size: 11px;
  line-height: 1;
}

.view_button{
 background-color:transparent;
 font-family: "Ubuntu", Helvetica, sans-serif;
 opacity: 0.6;
 font-size: 14px;
 border-color: transparent;

}

.view_button a:hover{
background-color: black;
  border: none;
  color: white;
  text-align: center;
  font-size: 14px;
  display: inline-block;
  text-decoration: none;
  }

  #project1_button{
 margin-top:5%;
  margin-left:auto;
  margin-bottom: auto;
}

 #project2_button{
 margin-top:5%;
  margin-left:auto;
  margin-bottom: auto;
}  
  }


#work_page{
margin-top:10%;
}

.about_box{
  display:flex;
   margin-top:15%;  
margin-left:10%;

}

.about_box_left{
  width:40%;
  margin-top:5%;
}

.about_box_right{
  width:60%;
}

.hey{
 font-family: "Montserrat", Arial, sans-serif;
 font-weight: normal;
 color:#1a1b1f;
 height:20px;
 font-size: 16px;
  opacity: 0.6;
}

#about_img{
  width:100%;
}

.about_heading{
 font-family: "Montserrat", Arial, sans-serif;
 font-weight: lighter;
 font-size: 36px;
 margin-top:5%;
  margin-bottom:5%;
  color:#1a1b1f;
}

.paragraph-light{
  width:80%;
   color:#1a1b1f;
   opacity: 0.6;
}

.contact_heading{
color: #1a1b1f;
margin-top:3%;
}

#contact_email{
margin-top:5%;

}

.contact{

}

@media screen and (max-width:1024px){
.about_box{
  display:flex;
   margin-top:10%;  
margin-left:0%;

}

.about_box_left{
  width:40%;
  margin-top:0%;
}

.about_box_right{
  width:60%;
}

.hey{
 font-family: "Montserrat", Arial, sans-serif;
 font-weight: normal;
 color:#1a1b1f;
 height:20px;
 font-size: 16px;
  opacity: 0.6;
}

#about_img{
  width:100%;
}

.about_heading{
 font-family: "Montserrat", Arial, sans-serif;
 font-weight: lighter;
 font-size: 24px;
 margin-top:5%;
  margin-bottom:5%;
  color:#1a1b1f;
}

.paragraph-light{
  width:90%;
   color:#1a1b1f;
   opacity: 0.6;
   font-weight: 16px;
}
}

@media screen and (max-width:769px){
.about_box{
  display:block;
   margin-top:10%;  
margin-left:0%;
text-align: center;
}

.about_box_left{
  width:100%;
  margin-top:0%;
}

.about_box_right{
  width:100%;
}

.hey{
 font-family: "Montserrat", Arial, sans-serif;
 font-weight: normal;
 color:#1a1b1f;
 height:20px;
 font-size: 16px;
  opacity: 0.6;
}

#about_img{
  width:100%;
}

.about_heading{
 font-family: "Montserrat", Arial, sans-serif;
 font-weight: lighter;
 font-size: 24px;
 margin-top:3%;
  margin-bottom:3%;
  color:#1a1b1f;
}

.paragraph-light{
  width:100%;
   color:#1a1b1f;
   opacity: 0.6;
   font-weight: 16px;
margin-bottom: 3%
}
}

 @media screen and (max-width:479px){
.paragraph-light{
  width:100%;
   color:#1a1b1f;
   opacity: 0.6;
   font-weight: 11px;
margin-bottom: 3%
}
}

.project1{
  display:flex;
  width:auto;
margin-top:12%;
   margin-bottom:10%;
}

.project_h3{
margin-top:4%;
margin-bottom:3%;
}

.project_box1_left{
  margin-right:2%;
  width:50%;
 
}

#home_box1_id{
   padding-left:1%;
  }

.project_box1_right{
   width:50%;

}
.project1_heading{
  margin-top:2%;
    margin-bottom:2%;
    font-family: "tahoma",Arial, sans-serif;
    font-size: 70px;

}

#project1_button{
 margin-top:5%;
  margin-left:auto;
  margin-bottom: auto;
}

.brand-logo{
width:100%;
}

.poster_img{
  width:100%;
}

#project2_button{
  margin-top:5%;
}



.title_year{
color:#67686d;
font-size: 20px;
font-weight: bold;
}

.project-text{
 font-family: 'Montserrat', Arial, sans-serif;
 line-height: 200%;
}

#footer{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  margin-top:30px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 0.9em;

}

.project_box1{
  width:50%;
margin-left:50%;
}

.project_box2{
  width:50%;
}

.project_box3{
  width:50%;
margin-left:50%;
}

.project_box4{
  width:50%;
}


.project_box5{
  width:50%;
margin-left:50%;
}

.project_box6{
  width:50%;
}

.project_box7{
  width:50%;
margin-left:50%;
}

.project_box8{
  width:50%;
}

.project_box9{
  width:50%;
margin-left:50%;
}

.project_box10{
  width:50%;
}

.project_box11{
  width:50%;
margin-left:50%;

}


.project_box12{
  width:25%;

}

.project_box13{
  width:25%;

}

.project_box14{
  width:50%;
  margin-left:50%;
}

.project_box15{
  width:50%;

}


.project_box16{
  width:25%;
}

.project_box17{
  width:25%;
}

.project_box18{
  width:50%;
margin-left:50%;

}

.project_box19{
  width:50%;
}

@media screen and (min-width: 1024px) {
.project_title{
font-size: 80%;
}

}

@media screen and (max-width: 1024px) {
.project_title{
font-size: 70%;
}



}

@media screen and (max-width: 768px)  {
.project_title{
font-size: 50%;
}

.styleguide_h1{
  font-size: 90%;
}

}

@media screen and (max-width: 415px)  {

  .styleguide_h1{
  font-size: 50%;
}

.project_title{
font-size: 30%;
}

.project_box1{
  width:100%;
margin-left:0;
}

.project_box2{
  width:100%;
}

.project_box3{
  width:100%;
margin-left:0;
}

.project_box4{
  width:100%;
}


.project_box5{
  width:100%;
margin-left:0;
}

.project_box6{
  width:100%;
}

.project_box7{
  width:100%;
margin-left:0;
}

.project_box8{
  width:100%;
}

.project_box9{
  width:100%;
margin-left:0;
}

.project_box10{
  width:100%;
}

.project_box11{
  width:100%;
margin-left:0;

}


.project_box12{
  width:48%;

}

.project_box13{
  width:48%;

}

.project_box14{
  width:100%;
  margin-left:0%;
}

.project_box15{
  width:100%;

}


.project_box16{
  width:49.5%;
}

.project_box17{
  width:49%;
}

.project_box18{
  width:100%;
margin-left:0%;

}

.project_box19{
  width:100%;
}

}