
img, p, h1, h2, h3, h4{
   margin: 0;
     padding: 0;
     border: 0;
     vertical-align: baseline;
}

:root {
  --background: white;
;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background:  #f6f3f0;
 font-family: 'Oxygen', Helvetica, sans-serif;
  margin-left:5%;
  margin-right:5%;
}

header {
  background: var(--background);
  text-align: center;
  position: relative;
  top:0px;

  z-index: 999;
  width: 100%;
 
 
}

h1{
  font-size: 9em;
  margin:0;
  padding:0;
 width:100%;

}


h3{
   font-size: 350%;
  font-weight:lighter;
    margin:0;
      padding:0;
}

h4{
 font-size: 150%;
  font-weight:lighter;
    margin:0;
      padding:0;s
}

li,a {
    text-decoration: none;
  }

  p{
    line-height: 150%;
    font-size: 120%;
    font-weight:lighter;
    margin-bottom: 1%;
  }

   
  p a{
  color:black;
}

p a:hover{
text-decoration:underline;
}

p a:focus{
  color:#000;
}

a{
   color:black;
}

a:hover{
text-decoration:underline;

}

.nav-toggle {
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;

}

.nav-toggle:focus ~ .nav-toggle-label {
  outline: 3px solid rgba(black, .75);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}


.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: black;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: '';
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--background);
  width: 100%;

  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: #000;
  text-decoration: none;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: #043FF1;
}

.nav-toggle:checked ~ nav {
  transform: scale(1,1);
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 250ms ease-in-out 250ms;
}

@media screen and (min-width: 800px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 3fr) 1fr;
  }
  
  .logo {
    grid-column: 1 / 3;
    width:28%;
    margin-top:0.5em;
    margin-bottom:0.5em;
    margin-left:0.5em;

  }
  
  nav {
    // all: unset; 

    position: relative;
    text-align: left;
    transition: none;
    transform: scale(1,1);
    background: none;
    top: initial;
    left: initial;
  
    
    grid-column: 3 / 4;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  
  nav ul {
    display: flex;
  }
  
  nav li {
    margin-left: 5em;
    margin-bottom: 0;
  }
  
  nav a {
    opacity: 1;
    position: relative;
  }
  
  nav a::before {
    content: '';
    display: block;
    height: 7px;
    background: #043FF1;
    position: absolute;
    top: -.75em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out 250ms;
  }
  
  nav a:hover::before {
    transform: scale(1,1);
  }
}

@media screen and (max-width: 800px) {
.logo {
    grid-column: 1 / 3;
    width:8%;
    margin-top:0.5em;
    margin-bottom:0.5em;
}

}


.styleguide_h2{
  font-size:45%;
  font-weight:bold;
  margin-top:5%;

}

.styleguide_h3{
  font-size:40%;
    margin-top:1%;
  font-weight:bold;
}

.css-selector h4{
font-size:120%;
margin-top:1%;
}

.sample-code{
  font-size:80%;
  background-color: #eee;
  margin-top:1%;
}

#interactive_elements{
  width:100%;  
}

.bold{
  font-weight:bolder;
}

figure img.color{
  border:1px black solid;

}

.colorpalettes  {
  display:flex;
  flex-wrap: wrap;
  width:100%;
}

.colorpalettes p{
  font-size:16px;
}

div.color{
  flex-grow:1;
  flex-basis: 10em;
}

@media screen and (max-width:40em){
  .colorpalettes  {
    display:block;

  }
}

@media screen and (min-width: 1025px) {
.title_box1 {
  display:flex;

  }

.title_box1 div{

}

#h1_0{
flex-grow:4;
}

#h1_1{

flex-grow:2;
}

.title_box2 {
  display:flex;
justify-content:flex-end;
  width:100%;

  }

  #h1_2{
    padding-right:8%;
  }

.title_box3 {
  display:flex;
  flex-grow: 1;
  width:78%;
  }

.title_box3 div{



}
#h1_3{
 padding-right:23.2%;

}

#h1_4{

}

.title_box4 {
  display:flex;
margin-left:27.5%;

 

  }

 
.homepage_img{
  display:flex;
justify-content:flex-end;
  width:100%;

}

.bio{
 display:block;

  width:72%;
  margin-left:27.7%;

  font-weight:bold;
}
#bio1{
  padding-left:36%;
}


.work_h2{
  margin-left:27.4%;
  margin-top: 20%;

}

 .overlay a {
   width: 140px;
  height: 140px;
 filter: grayscale(100%);
 }

 .overlay a:hover{
    width: 140px;
  height: 140px;
 filter: brightness(100%);
  }

.work_box1{
display: flex;
margin-left:26.4%;
}

.work_box1 div{

}


.work1_title{
  padding-left:1%;
}


.brand_logo{
  width:37%;
 margin-left:73.8%;

}

.work_box2{
display: flex;
margin-left:27.4%;
}

.work_box2 div{

}

.work2_title{

}

.poster{
width:30.5%;
 margin-left:59.5%;
}
}


@media screen and (max-width: 1024px) and (min-width: 769px) {
  .title_box1 {
  display:flex;
  flex-wrap: wrap;
  width:100%;
  }

.title_box1 div{

  flex-grow:1;
}

#h1_1{
  font-size: 70%;
}

.title_box2 {
  display:flex;
justify-content:flex-end;
  width:100%;

  }

  #h1_2{
    padding-right:10%;
    font-size: 70%;
  }

.title_box3 {
  display:flex;
  flex-grow: 1;
  width:78%;
  }

.title_box3 div{



}
#h1_3{

flex-grow:2;
}

#h1_4{
font-size: 70%;
flex-grow:2.8;
}

.title_box4 {
  display:flex;
margin-left:26.8%;

 font-size: 70%;
  }

.homepage_img{
  display:flex;
justify-content:flex-end;
  width:100%;

}

#homepage_img{
  width:100%;
}
.bio{
 display:block;
  width:72%;
  margin-left:27.7%;

  font-weight:bold;
}
#bio1{
  padding-left:10%;
}


.work_h2{
  margin-left:27.4%;
  margin-top: 20%;

font-size: 50%;
}

 .overlay a {
   width: 140px;
  height: 140px;
 filter: grayscale(100%);
 }

 .overlay a:hover{
    width: 140px;
  height: 140px;
 filter: brightness(100%);
  }

.work_box1{
display: flex;
margin-left:27%;

}

.work_box1 div{

}


.work1_title{
 width:40%;

}


.brand_logo{
  width:31%;
 margin-left:60%;

}

.work_box2{
display: flex;
margin-left:27%;
}

.work_box2 div{

}

.work2_title{
 width:50%;
}

.poster{
width:29%;
 margin-left:62%;
}  

}

@media screen and (max-width: 768px)  {
.title_box1 {
  display:flex;
  flex-wrap: wrap;
  width:100%;
  }

.title_box1 div{
 
  flex-grow:1;
}

#h1_1{
  font-size: 50%;
flex-grow:1;
}


.title_box2 {
  display:flex;
justify-content:flex-end;
  width:100%;

  }

  #h1_2{
    padding-right:9%;
    font-size: 50%;
  }

.title_box3 {
  display:flex;
  flex-grow: 1;
  width:78%;
  }

.title_box3 div{



}
#h1_3{

flex-grow:2;
}

#h1_4{
font-size: 50%;
flex-grow:2.8;
}

.title_box4 {
  display:flex;
margin-left:29.8%;

 font-size: 50%;
  }

.homepage_img{
  display:flex;
justify-content:flex-end;
  width:100%;

}

#homepage_img{
  width:100%;
}


.bio{
 display:block;

  width:100%;


  font-weight:bold;
}
#bio1{
  padding-left:12.5%;
}


.work_h2{
  margin-left:27.4%;
  margin-top: 20%;
 
font-size: 50%;
}

 .overlay a {
   width: 140px;
  height: 140px;
 filter: grayscale(100%);
 }

 .overlay a:hover{
    width: 140px;
  height: 140px;
 filter: brightness(100%);
  }

.work_box1{
display: flex;

margin-left:26.4%;

}

.work_box1 div{

}


.work1_title{
  padding-left:1%;
}


.brand_logo{
  width:30%;
 margin-left:60%;
}

.work_box2{
display: flex;

margin-left:27.4%;
}

.work_box2 div{
 
}

.work2_title{

}

.poster{
width:30.5%;
 margin-left:59.5%;
}


}

@media screen and (max-width: 415px) {
.title_box1 {
  display:flex;
  }

.title_box1 div{
 

}

#h1_1{
font-size: 30%;

}

.title_box2 {

  justify-content: flex-start;
  }

  #h1_2{
  font-size: 30%; 
  }

.title_box3 {
display: block;
  flex-grow: 1;
  width:78%;
  }

.title_box3 div{



}
#h1_3{


}

#h1_4{
  font-size: 30%;
}

.title_box4 {
 
   font-size: 30%;
   margin-left: 0;
  }

.work_h2{
  margin-left:27.4%;
  margin-top: 20%;

    font-size: 30%
}

.homepage_img{
  display:block;
justify-content:flex-start;

}

#homepage_img{
  width:100%;
}

.bio{
 display:block;

  width:100%;


  font-weight:bold;
}
#bio1{
  padding-left:0;
}


.work_h2{
  margin-left:27.4%;
  margin-top: 20%;

font-size: 50%;
}

 .overlay a {
   width: 140px;
  height: 140px;
 filter: grayscale(100%);
 }

 .overlay a:hover{
    width: 140px;
  height: 140px;
 filter: brightness(100%);
  }

.work_h2{
  font-size: 30%;
}
.work_box1{
display: flex;
margin-left:26.4%;

}

.work_box1 div{

}


.work1_title{
  padding-left:1%;
}


.brand_logo{
  width:30%;
 margin-left:60%;
}

.work_box2{
display: flex;

margin-left:27.4%;
}

.work_box2 div{

}

.work2_title{

}

.poster{
width:30.5%;
 margin-left:59.5%;
}

}

#footer{
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #999999;
  margin-top:30px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 0.9em;

}

.project_box1{
  width:50%;
margin-left:50%;
}

.project_box2{
  width:50%;
}

.project_box3{
  width:50%;
margin-left:50%;
}

.project_box4{
  width:50%;
}


.project_box5{
  width:50%;
margin-left:50%;
}

.project_box6{
  width:50%;
}

.project_box7{
  width:50%;
margin-left:50%;
}

.project_box8{
  width:50%;
}

.project_box9{
  width:50%;
margin-left:50%;
}

.project_box10{
  width:50%;
}

.project_box11{
  width:50%;
margin-left:50%;

}


.project_box12{
  width:25%;

}

.project_box13{
  width:25%;

}

.project_box14{
  width:50%;
  margin-left:50%;
}

.project_box15{
  width:50%;

}


.project_box16{
  width:25%;
}

.project_box17{
  width:25%;
}

.project_box18{
  width:50%;
margin-left:50%;

}

.project_box19{
  width:50%;
}

@media screen and (min-width: 1024px) {
.project_title{
font-size: 80%;
}

}

@media screen and (max-width: 1024px) {
.project_title{
font-size: 70%;
}



}

@media screen and (max-width: 768px)  {
.project_title{
font-size: 50%;
}

.styleguide_h1{
  font-size: 90%;
}

}

@media screen and (max-width: 415px)  {

  .styleguide_h1{
  font-size: 50%;
}

.project_title{
font-size: 30%;
}

.project_box1{
  width:100%;
margin-left:0;
}

.project_box2{
  width:100%;
}

.project_box3{
  width:100%;
margin-left:0;
}

.project_box4{
  width:100%;
}


.project_box5{
  width:100%;
margin-left:0;
}

.project_box6{
  width:100%;
}

.project_box7{
  width:100%;
margin-left:0;
}

.project_box8{
  width:100%;
}

.project_box9{
  width:100%;
margin-left:0;
}

.project_box10{
  width:100%;
}

.project_box11{
  width:100%;
margin-left:0;

}


.project_box12{
  width:48%;

}

.project_box13{
  width:48%;

}

.project_box14{
  width:100%;
  margin-left:0%;
}

.project_box15{
  width:100%;

}


.project_box16{
  width:49.5%;
}

.project_box17{
  width:49%;
}

.project_box18{
  width:100%;
margin-left:0%;

}

.project_box19{
  width:100%;
}

}